<mat-toolbar color="primary">
    <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button style="margin-right:20px;" mat-icon-button [routerLink]="['dashboard']">
    Home
  </button>
  <button mat-icon-button [routerLink]="['news']">
    News
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer-container">
  <div>Application built by&nbsp;<a href="https://marcuslorenzana.com" target="_blank"> Marcus Lorenzana</a>.
    Powered by&nbsp;<a href="https://github.com/disease-sh/API" target="_blank"> NovelCOVID API</a>
  </div>
</footer>

