hr.solid {
  border-top: 2px solid #999;
}

.header-margin {
  margin-bottom:15px;
  margin-top:15px;
}

.country-select {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-toggle {
  margin-top:10px;
  margin-bottom: 10px;
}

.orange {
  color: orange;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: darkgreen;
  font-weight: bold;
}

.black {
  color: black;
  font-weight: bold;
}

.chart-custom {
  overflow-x: scroll;
}

.card-margin {
  margin-left: 2px;
  margin-right: 2px;
}
