<div *ngIf="summary">
  <!--  Global Summary -->
  <mat-card class="section-margin">
    <mat-toolbar color="accent" class="header-margin wrap">Global Statistics</mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="!summary"></mat-progress-bar>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">
      <mat-card fxFlex="30%">
        <div class="orange">
          Total confirmed cases:
        </div>
        <span>{{summary.Global.TotalConfirmed | number}}</span>
      </mat-card>
      <mat-card fxFlex="30%">
        <div class="red">
          Total deaths:
        </div>
        <span>{{summary.Global.TotalDeaths | number}}</span>
      </mat-card>
      <mat-card fxFlex="30%">
        <div class="green">
          Total recovered cases:
        </div>
        <span>{{summary.Global.TotalRecovered | number}}</span>
      </mat-card>
    </div>
  </mat-card>

  <!--  Country Summary Statistics-->
  <mat-card class="section-margin">
    <mat-toolbar color="accent" class="header-margin">{{countryStats.Country}}</mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="!countryStats"></mat-progress-bar>
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <label><b>Enter country name:</b></label>
      <input [(ngModel)]="selectedCountry"
             [typeahead]="countries"
             (typeaheadOnSelect)="retrieveCountry($event)"
             placeholder="Type here"
             typeaheadOptionField="Country"
             class="form-control country-select">
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px" *ngIf="countryStats">
      <mat-card fxFlex="30%">
        <div class="orange">
          Total confirmed cases:
        </div>
        <span>{{totalConfirm | number}}</span>
      </mat-card>
      <mat-card fxFlex="30%">
        <div class="red">
          Total deaths:
        </div>
        <span>{{totalDeath | number}}</span>
      </mat-card>
      <mat-card fxFlex="30%">
        <div class="green">
          Total recovered cases:
        </div>
        <span>{{totalRecov | number}}</span>
      </mat-card>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px" *ngIf="countryStats">
      <mat-card fxFlex="30%">
        <div class="orange">
          New confirmed cases:
        </div>
        <span>{{countryNewConfirm| number}}</span>
      </mat-card>
      <mat-card fxFlex="30%">
        <div class="red">
          New deaths:
        </div>
        <span>{{countryNewDeath | number}}</span>
      </mat-card>
      <mat-card fxFlex="30%">
        <div class="green">
          New recovered cases:
        </div>
        <span>{{countryNewRecov | number}}</span>
      </mat-card>
    </div>

    <mat-toolbar color="accent" class="header-margin">{{countryStats.Country}} Trends</mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px" id="collapseBasic" [collapse]="isCollapsed">

      <app-graph fxFlexFill
        [data]="countryConfirmedDayOne"
        [graphColor]="'orange'"
        [xAxisLabel]="'Date'"
        [yAxisLabel]="'New Cases'">
      </app-graph>

      <app-graph fxFlexFill
        [data]="countryDeathsDayOne"
        [graphColor]="'red'"
        [xAxisLabel]="'Date'"
        [yAxisLabel]="'New Deaths'">
      </app-graph>

<!--      <app-graph fxFlexFill-->
<!--        [data]="countryRecoveredDayOne"-->
<!--        [graphColor]="'green'"-->
<!--        [xAxisLabel]="'Date'"-->
<!--        [yAxisLabel]="'New Recovered'">-->
<!--      </app-graph>-->

    </div>
  </mat-card>
</div>



