<div class="jumbotron"><h2>COVID-19 Statistics</h2></div>

<div *ngIf="summary">

  <h4>Global Statistics for {{summary.Date | date}}</h4>
  <div class="row">
    <div class="col-md-4 card">
      <div style="color: orange;">
        Total confirmed cases:
      </div>
      <span>{{summary.Global.TotalConfirmed | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div style="color: red">
        Total deaths:
      </div>
      <span>{{summary.Global.TotalDeaths | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div style="color: darkgreen">
        Total recovered cases:
      </div>
      <span>{{summary.Global.TotalRecovered | number}}</span>
    </div>
  </div>

  <hr class="solid">

  <h4 class="header-margin">US Specific Statistics</h4>
  <div class="row" *ngIf="!usStatistics">Loading...</div>
  <div class="row" *ngIf="usStatistics">
    <div class="col-md-4 card">
      <div>
        Positive Tests:
      </div>
      <span>{{usStatistics[0].positive | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div>
        Negative Tests:
      </div>
      <span>{{usStatistics[0].negative | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div>
        On Ventilator Currently:
      </div>
      <span>{{usStatistics[0].onVentilatorCurrently | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div>
        Hospitalized Currently:
      </div>
      <span>{{usStatistics[0].hospitalizedCurrently | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div>
        In ICU Currently:
      </div>
      <span>{{usStatistics[0].inIcuCurrently | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div>
        Pending:
      </div>
      <span>{{usStatistics[0].pending | number}}</span>
    </div>

    <ngx-charts-bar-vertical class="chart-container ng-star-inserted" *ngIf="usDaily"
                             [view]="view"
                             [scheme]="colorSchemeDeath"
                             [results]="usDaily"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="'Date'"
                             [yAxisLabel]="'New Deaths'">
    </ngx-charts-bar-vertical>

  </div>

  <hr class="solid">

  <h4 class="header-margin">Summary for {{countryStats.Country}}</h4>
  <div class="row">
    <input [(ngModel)]="selectedCountry"
           [typeahead]="countries"
           placeholder="Enter country name"
           (typeaheadOnSelect)="retrieveCountry($event)"
           typeaheadOptionField="Country"
           class="form-control country-select">
  </div>


  <div class="row" *ngIf="countryStats">
    <div class="col-md-4 card">
      <div style="color: orange;">
        Total confirmed cases:
      </div>
      <span>{{countryStats.TotalConfirmed | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div style="color: red">
        Total deaths:
      </div>
      <span>{{countryStats.TotalDeaths | number}}</span>
    </div>
    <div class="col-md-4 card">
      <div style="color: darkgreen">
        Total recovered cases:
      </div>
      <span>{{countryStats.TotalRecovered | number}}</span>
    </div>
  </div>

  <div class="row">
      <button type="button" class="btn btn-primary button-toggle ml-auto mr-3"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <span *ngIf="isCollapsed">
          Show Charts
        </span>
        <span *ngIf="!isCollapsed">
          Hide Charts
        </span>
      </button>
  </div>

  <div class="row" *ngIf="!countryConfirmedDayOne || !countryDeathsDayOne || !countryRecoveredDayOne">Loading...</div>
  <div id="collapseBasic" [collapse]="isCollapsed">
    <ngx-charts-bar-vertical *ngIf="countryConfirmedDayOne"
                             [view]="view"
                             [scheme]="colorSchemeConf"
                             [results]="countryConfirmedDayOne"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="'Date'"
                             [yAxisLabel]="'Confirmed Cases'">
    </ngx-charts-bar-vertical>

    <ngx-charts-bar-vertical *ngIf="countryDeathsDayOne"
                             [view]="view"
                             [scheme]="colorSchemeDeath"
                             [results]="countryDeathsDayOne"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="'Date'"
                             [yAxisLabel]="'Deaths'">
    </ngx-charts-bar-vertical>

    <ngx-charts-bar-vertical *ngIf="countryRecoveredDayOne"
                             [view]="view"
                             [scheme]="colorSchemeRecov"
                             [results]="countryRecoveredDayOne"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="'Date'"
                             [yAxisLabel]="'Recovered'">
    </ngx-charts-bar-vertical>
  </div>


</div>



