<div class="chart-custom">
  <ngx-charts-bar-vertical *ngIf="data"
                           [scheme]="colorScheme"
                           [results]="data"
                           [gradient]="gradient"
                           [xAxis]="showXAxis"
                           [yAxis]="showYAxis"
                           [showXAxisLabel]="showXAxisLabel"
                           [showYAxisLabel]="showYAxisLabel"
                           [xAxisLabel]="xAxisLabel"
                           [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-vertical>
</div>
